.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 28px 0 28px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 768px) {
  .header {
    margin: 25px 100px 0 100px;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    margin: 45px 200px 0 200px;
  }
}
