.profile__name-edit-button {
  background-image: url(../../../images/pen.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .profile__name-edit-button {
    width: 21px;
    height: 21px;
  }
}

@media screen and (min-width: 768px) {
  .profile__name-edit-button {
    width: 24px;
    height: 24px;
  }
}
