.cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 17px;
    column-gap: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
