.profile__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s linear;
  background-color: rgba(0, 0, 0, 0.8);
}

.profile__avatar-edit-button:hover .profile__avatar-overlay {
  opacity: 0.8;
}
